{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ stock.name }} - DJ FightStore
{% endblock %}
{% block content %}
<div class="row my_prod_row_class">
    <div class="mx-auto">
        <p><a href="{% url 'shop:all_stocks' %}">Home</a> | <a href="{{ stock.category.get_url }}">{{stock.category}}</a> | {{stock.name}}</p>
    </div>
    <div class="container">
        <br>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
                <div style="min-width: 18rem;">
                    {% if stock.image %}
                    <img src="{{stock.image.url}}" alt="{{stock.name}}">
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                <div>
                    <h1 class="my_prod_title">{{stock.name}}</h1>
                    <p>€{{stock.price}}</p>
                    <p class="my_title">Stock Description</p>
                    <p class="text-justify my_prod_text">{{stock.description}}</p>
                    {% if stock.stock == 0%}
                        <p class="text-justify my_prod_text"><b>Out of Stock</b></p>
                    {% else %}
                    <a href="{% url 'cart:add_cart' stock.id %}" class="btn btn-success ml-2">Add to Basket</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}