{% extends 'base.html' %}
{% block title %}Terms & Conditions{% endblock title %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stati">
    <title>Terms And Conditions</title>
</head>

<body>
    <h1>DJ FIGHTSTORE TERMS AND CONDITIONS</h1>

    <h4>1. ACCEPTANCE OF TERMS</h4>
    <br>

    <p>By accessing and using the DJ Fightstore website (the www.DJfightstore.com), you agree to comply with and be
        bound by these terms and conditions. If you do not agree to these terms, please refrain from using the Website.
    </p>

    <br>
    <h4>2. PRODUCTS AND ORDERS</h4>
    <p>
        2.1 Product Information: DJ Fightstore strives to provide accurate product information, including descriptions
        and pricing. However, we do not guarantee the accuracy, completeness, or reliability of any product information
        on the Website.
    </p>
    <br>
    <p>
        2.2 Orders: Placing an order on the Website constitutes an offer to purchase the products. DJ Fightstore
        reserves the right to accept or reject any order for any reason, including but not limited to product
        availability, errors in product information, or pricing errors.
    </p>

    <br>
    <h4>3. PRICING AND PAYMENTS</h4>
    <p>3.1 Pricing: All prices on the Website are in [currency] and are subject to change without notice. DJ Fightstore
        is not responsible for any typographical errors or inaccuracies related to pricing.</p>
    <P>3.2 Payment: Payment for orders is processed through [payment gateway]. By completing a purchase, you authorize
        DJ Fightstore to charge your selected payment method for the total amount of the order.</P>

    <br>

    <h4>4. SHIPPING AND DELIVERY</h4>
    <p>4.1 Shipping: DJ Fightstore will make reasonable efforts to ensure timely delivery of products. However, we are
        not responsible for delays beyond our control, such as shipping carrier delays, customs processing, or other
        unforeseen circumstances.</p>
    <p>4.2 Delivery: The risk of loss and title for products purchased on the Website pass to you upon delivery to the
        carrier.</p>

    <br>

    <h4>5. RETURNS AND REFUNDS</h4>
    <p>5.1 Returns: DJ Fightstore accepts returns within 1 days of the delivery date, subject to our return policy. The
        return policy is available on the Website.</p>
    <p>
        5.2 Refunds: Refunds will be issued in accordance with our refund policy, which is available on the Website.
    </p>
    <br>
    <h4>6. INTELLECTUAL PROPERTY</h4>
    <p>
        6.1 Ownership: All content on the Website, including but not limited to text, images, logos, and trademarks, is
        the property of DJ Fightstore and is protected by intellectual property laws
    </p>

    <p>
        6.2 License: You are granted a limited, non-exclusive, and revocable license to access and use the Website for
        personal, non-commercial purposes.
    </p>
    <br>
    <h4>7. PRIVACY POLICY</h4>
    <p>By using the Website, you agree to the terms of our Privacy Policy, which is available on the Website.</p>

    <br>

    <h4>8. LIMITATION OF LIABILITY</h4>
    <p>DJ Fightstore is not liable for any direct, indirect, incidental, consequential, or punitive damages arising out
        of your use or inability to use the Website.</p>

    <br>
    <h4>9. GOVERNING LAW</h4>
    <p>These terms and conditions are governed by the laws of South Dublin County Council. Any disputes arising from or
        in connection with these terms shall be subject to the exclusive jurisdiction of the courts in South Dublin
        County Council.</p>

    <br>
    <h4>10. CHANGES TO TERMS</h4>
    DJ Fightstore reserves the right to update or modify these terms and conditions at any time. It is your
    responsibility to review these terms periodically.

</body>

</html>

{% endblock content %}
